.container{
    display: flex;
}

.tableListCategory{
    flex: 4;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tableContainer{
    margin-top: 20px;
    width: 100%;
}

.listCategoryTitle{
    flex: 4;
    text-align: center;
    font-weight: 600;
}

